<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{%endif%}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css">

    {% if LANGUAGE_BIDI %}

    {% endif %}
    {% ifinstalled cartridge.shop %}

    {% if LANGUAGE_BIDI %}

    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!--[if lt IE 9]>

    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">


<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">
<nav class="tab-bar">


    <section class="left tab-bar-section">


        <h1 class="title">Foundation</h1>


    </section>


    <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
</nav>


<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        <li><a href="#">...</a></li>
    </ul>
</aside>

<section class="main-section">
    <!-- content goes here -->


    <div class="row">

        {% nevercache %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endnevercache %}
        s
        <h1>{% block title %}{% endblock %}</h1>

        <ul class="breadcrumb">
            {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
            {% endspaceless %}
        </ul>

    </div>


    <div class="row">
        <div class="large-12 columns">

            <div class="row">
                <div class="large-12 columns">
                    <ul class="example-orbit" data-orbit>
                        <li><img src="http://placehold.it/1000x400&amp;text=[%20img%201%20]"></li>
                        <li><img src="http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
                        <li><img src="http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
                    </ul>
                </div>
            </div>
            <hr/>


            <div class="row">
                <div class="large-12 columns show-for-small">
                    <img src="http://placehold.it/1200x700&amp;text=Mobile Header">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="large-12 columns">
                    <div class="row">

                        <div class="large-3 small-6 columns">
                            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
                            <h6 class="panel">Description</h6>
                        </div>
                        <div class="large-3 small-6 columns">
                            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
                            <h6 class="panel">Description</h6>
                        </div>
                        <div class="large-3 small-6 columns">
                            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
                            <h6 class="panel">Description</h6>
                        </div>
                        <div class="large-3 small-6 columns">
                            <img src="http://placehold.it/250x250&amp;text=Thumbnail">
                            <h6 class="panel">Description</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <div class="row">

                        <div class="large-8 columns">
                            <div class="panel radius">
                                <div class="row">
                                    <div class="large-6 small-6 columns">
                                        <h4>Header</h4>
                                        <hr>
                                        <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin
                                            eget
                                            urna. Donec
                                            dignissim nibh fermentum odio ornare sagittis.</h5>

                                        <div class="show-for-small" style="text-align: center">
                                            <a class="small radius button" href="#">Call To Action!</a><br>
                                            <a class="small radius button" href="#">Call To Action!</a>
                                        </div>
                                    </div>
                                    <div class="large-6 small-6 columns">
                                        <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus
                                            non
                                            ipsum eros. Vivamus
                                            at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada
                                            nec
                                            ligula. Nullam erat
                                            erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean
                                            eget
                                            ultricies libero.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="large-4 columns hide-for-small">
                            <h4>Get In Touch!</h4>
                            <hr>
                            <a href="#">
                                <div class="panel radius callout" style="text-align: center">
                                    <strong>Call To Action!</strong>
                                </div>
                            </a> <a href="#">
                            <div class="panel radius callout" style="text-align: center">
                                <strong>Call To Action!</strong>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="row">
                <div class="large-12 columns">
                    <hr>
                    <div class="row">
                        <div class="large-6 columns">
                            <p>© Copyright no one at all. Go to town.</p>
                        </div>
                        <div class="large-6 small-12 columns">
                            <ul class="inline-list right">
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-2 left">
                {% block left_panel %}
                <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
                {% endblock %}
            </div>

            <div class="col-md-7 middle">
                {% block main %}{% endblock %}
            </div>

            <div class="col-md-3 right">
                {% nevercache %}
                {% include "includes/user_panel.html" %}
                {% endnevercache %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block right_panel %}

                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="container">
            {% page_menu "pages/menus/footer.html" %}

            <div class="row">
                <p class="site-info text-center">
                    {% trans "Powered by" %}
                    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
                    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
                    {% trans "and" %}
                    <a href="http://www.djangoproject.com">Django</a>
                    <span class="separator">|</span>
                    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
                    {% ifinstalled mezzanine.mobile %}
                    <span class="separator">|</span>
                    <a href="{% url " set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site"
                    %}</a>
                    {% endifinstalled %}
                </p>
            </div>
        </div>
    </footer>


</section>

<a class="exit-off-canvas"></a>

</div>
</div>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
            {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
        </div>
        <div class="navbar-collapse collapse">
            {% search_form "all" %}
            {% page_menu "pages/menus/dropdown.html" %}
        </div>
    </div>
</div>


<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>

<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.min.js"></script>


<script src="{{ STATIC_URL }}js/joy.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/events.js"></script>
<script src="{{ STATIC_URL }}js/video/base.js"></script>
<script src="{{ STATIC_URL }}js/video/wrapper.js"></script>
<script src="{{ STATIC_URL }}js/video/vimeo.js"></script>
<script src="{{ STATIC_URL }}js/video/youtube.js"></script>

<script src="{{ STATIC_URL }}js/video/jquery.webvtt.js"></script>
<script src="{{ STATIC_URL }}js/video/captions.js"></script>
<script src="{{ STATIC_URL }}js/init.js"></script>
{% include "includes/footer_scripts.html" %}

</body>
</html>
