<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{%endif%}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css">

    {% if LANGUAGE_BIDI %}

    {% endif %}
    {% ifinstalled cartridge.shop %}

    {% if LANGUAGE_BIDI %}

    {% endif %}
    {% endifinstalled %}
    {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!--[if lt IE 9]>

    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">


<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">


            <section class="left tab-bar-section">
                <h1 class="title">{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}{% endif %}</h1>
            </section>


            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>
        </nav>


        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Users</label></li>
                <li><a href="#">Hari Seldon</a></li>
                <li><a href="#">...</a></li>
            </ul>
        </aside>

        <section class="main-section">
            <!-- content goes here -->


            <div class="row">

                {% nevercache %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endnevercache %}
                s
                <h1>{% block title %}{% endblock %}</h1>

                <ul class="breadcrumb">
                    {% spaceless %}
                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    {% endspaceless %}
                </ul>

            </div>


            <div class="row">


                {% block left_panel %}
                <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
                {% endblock %}


                {% block main %}{% endblock %}


                {% nevercache %}
                {% include "includes/user_panel.html" %}
                {% endnevercache %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block right_panel %}

                        {% endblock %}
                    </div>
                </div>


            </div>


            <footer class="row">
                <div class="large-12 columns">
                    <hr>
                    <div class="row">
                        <div class="large-6 columns">
                            <p>© Copyright no one at all. Go to town.</p>
                        </div>
                        <div class="large-6 small-12 columns">
                            {% search_form "all" %}
                            {% page_menu "pages/menus/dropdown.html" %}
                            <ul class="inline-list right">
                                {% page_menu "pages/menus/footer.html" %}
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>


        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>


<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>

<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.min.js"></script>


<script src="{{ STATIC_URL }}js/joy.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/events.js"></script>
<script src="{{ STATIC_URL }}js/video/base.js"></script>
<script src="{{ STATIC_URL }}js/video/wrapper.js"></script>
<script src="{{ STATIC_URL }}js/video/vimeo.js"></script>
<script src="{{ STATIC_URL }}js/video/youtube.js"></script>

<script src="{{ STATIC_URL }}js/video/jquery.webvtt.js"></script>
<script src="{{ STATIC_URL }}js/video/captions.js"></script>
<script src="{{ STATIC_URL }}js/init.js"></script>
{% include "includes/footer_scripts.html" %}

</body>
</html>
