{% overextends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

    <h1>{{ page.songoftheday.title }}</h1>
    <h1>{{ page.songoftheday.name }}</h1>

    {% for itemq in page.songoftheday.discography_set.all %}
        {% for song in itemq.song.all %}
            <p> Song: {{ song }}</p>
            <p>Artist: {{ song.artist.all|first }}</p>

            {% if song.video_type.video_type_id == 0 %}
                <p>Viemo {{ song.video_content }}</p>
            {% else %}
                <p>youtube</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}